DATABASE_URL=sqlite:///./data/stt.db
JWT_SECRET_KEY=<key-here>

DEVICE=cpu
WAV2VEC2_FINNISH=jonatasgrosman/wav2vec2-large-xlsr-53-finnish
WAV2VEC2_BASE=facebook/wav2vec2-base-960h

DEEPSPEECH2_PATH=../ml/saved_models/best_weights.pt
WHISPER_MODEL_NAME=tiny